@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Main */

/* Fjerner deafualt blu border */
.table-view:focused { -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background; }
.table-view .table-row-cell {
    -fx-background-insets: 0 0 0 0;
    -fx-table-cell-border-color: transparent;
}

#main {
    -fx-background-color: #EEEEEE;
}

#main .label {
    -fx-font-size: 20px;
    -fx-font-family: 'Poppins', sans-serif;
}

#contactsDetailsContainer {
    -fx-background-color: transparent;
}

.split-pane .split-pane-divider {
    -fx-padding: 1 0 1 0;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #476072;

}

.table-view .column-header .label {
    -fx-padding: 20px;
    -fx-text-fill: white;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 400;
}

.table-view .column-header:hover {
    -fx-background-color: #334257;
    -fx-cursor: hand;
}

.table-cell {
    -fx-alignment: center;
    -fx-font-size: 17px;
    -fx-font-family: 'Poppins', sans-serif;
}

.table-row-cell:selected {
    -fx-background-color: #548CA8;
}

.table-row-cell:filled:selected > .table-cell {
    -fx-text-fill: white;
}


/* New Contact */
#newContact .label {
    -fx-font-size: 15px;
    -fx-font-family: 'Poppins', sans-serif;
}

/* Knapper */
.button {
    -fx-border-radius: 2;
    -fx-box-sizing: border-box;
    -fx-background-color: #476072;
    -fx-text-decoration:none;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-text-fill: white;
    -fx-text-align:center;
}

.button:hover{
    -fx-background-color: #334257;
    -fx-cursor: hand;
}

#main .button {
    -fx-font-size: 20px;
}

#newContact .button {
    -fx-font-size: 15px;
}